## Deliverable 2. Create a Customer Travel Destinations Map.

In [33]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
# Import API key
from config import g_key

# # Configure gmaps API key
gmaps.configure(api_key=g_key)

In [34]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,0,Cayenne,GF,2021-07-14 19:31:27,4.9333,-52.3333,83.08,80,40,3.00
1,1,1,Saint-Philippe,RE,2021-07-14 19:31:27,-21.3585,55.7679,71.19,81,80,14.97
2,2,2,Hithadhoo,MV,2021-07-14 19:31:27,-0.6000,73.0833,82.36,74,100,8.55
3,3,3,Mata,PT,2021-07-14 19:31:28,40.6830,-7.4592,73.02,32,100,6.13
4,4,4,Bossangoa,CF,2021-07-14 19:31:28,6.4926,17.4552,70.70,96,100,3.60

In [38]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [49]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,0,Cayenne,GF,2021-07-14 19:31:27,4.9333,-52.3333,83.08,80,40,3.00
1,1,1,Saint-Philippe,RE,2021-07-14 19:31:27,-21.3585,55.7679,71.19,81,80,14.97
2,2,2,Hithadhoo,MV,2021-07-14 19:31:27,-0.6000,73.0833,82.36,74,100,8.55
3,3,3,Mata,PT,2021-07-14 19:31:28,40.6830,-7.4592,73.02,32,100,6.13
4,4,4,Bossangoa,CF,2021-07-14 19:31:28,6.4926,17.4552,70.70,96,100,3.60
5,5,5,Salalah,OM,2021-07-14 19:31:29,17.0151,54.0924,82.49,83,75,6.91
6,6,6,Butaritari,KI,2021-07-14 19:31:29,3.0707,172.7902,84.04,74,4,13.24
11,11,11,Vaini,TO,2021-07-14 19:31:31,-21.2000,-175.2000,73.56,88,75,10.36
13,13,13,Sioux Lookout,CA,2021-07-14 19:31:31,50.1001,-91.9170,77.40,27,53,4.81
15,15,15,Rikitea,PF,2021-07-14 19:31:32,-23.1203,-134.9692,73.17,71,0,8.48

In [50]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       305
City_ID.1     305
City          305
Country       305
Date          305
Lat           305
Lng           305
Max Temp      305
Humidity      305
Cloudiness    305
Wind Speed    305
dtype: int64

In [51]:
# 4b. Drop any empty rows and create a new DataFrame that doesn't have empty rows.
preferred_cities_df = preferred_cities_df.dropna(how = 'any')
preferred_cities_df.count()

City_ID       305
City_ID.1     305
City          305
Country       305
Date          305
Lat           305
Lng           305
Max Temp      305
Humidity      305
Cloudiness    305
Wind Speed    305
dtype: int64

In [52]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

KeyError: "['Current Description'] not in index"

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
        lat = row["Lat"]
        lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
        params["location"] = f"{lat},{lng}"
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
        hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        except (IndexError):
            print("Hotel not found... skipping.")

NameError: name 'hotel_df' is not defined

In [11]:
# 7. Drop the rows where there is no Hotel Name.

In [12]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

NameError: name 'clean_hotel_df' is not defined

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

NameError: name 'clean_hotel_df' is not defined

In [14]:
# 11a. Add a marker layer for each city to the map. 

max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

NameError: name 'hotel_df' is not defined

In [15]:
# Source Vac Py

In [ ]:
# # Create the output file (CSV).
# output_data_file = "WeatherPy_Database.csv"
# # Export the City_Data into a CSV.
# city_data_df.to_csv(output_data_file, index_label="City_ID")