In [11]:
# Add the Pandas dependency.
import pandas as pd
import os

# Files to load
donor_data_to_load = os.path.join("~/Desktop/Class Folder/Resources/donor_data.csv")

# Read the donor data file and store it in a Pandas DataFrame.
donor_data_df = pd.read_csv(donor_data_to_load)
donor_data_df

,LastName,FirstName,Employer,City,State,Zip,Amount,FIELD8
0,Aaron,Eugene,State Department,Dulles,VA,20189,500.0,NaN
1,Abadi,Barbara,Abadi & Co.,New York,NY,10021,200.0,NaN
2,Adamany,Anthony,Retired,Rockford,IL,61103,500.0,NaN
3,Adams,Lorraine,Self,New York,NY,10026,200.0,NaN
4,Adams,Marion,None,Exeter,NH,03833,100.0,NaN
...,...,...,...,...,...,...,...,...
1771,Zinczenko,David,Rodale,Allentown,PA,18102,500.0,NaN
1772,Zschiesche,Peter,NaN,San Diego,CA,92104,250.0,NaN
1773,Zweidinger,Ruth,NaN,Hillsborough,NC,27278,250.0,NaN
1774,Zwerdling,David,"Montg Cnty, Md",Silver Spring,MD,20910,35.0,NaN
1775,Zyskind,Jon,JDS Uniphase,Concord,MA,10742,25.0,NaN

In [12]:
# Drop the NaNs.
donor_data_df.dropna()

Empty DataFrame
Columns: [LastName, FirstName, Employer, City, State, Zip, Amount, FIELD8]
Index: []

In [13]:
# Determine if there are any missing values in the doner data.
donor_data_df.count()

LastName     1776
FirstName    1776
Employer     1743
City         1776
State        1776
Zip          1776
Amount       1776
FIELD8          0
dtype: int64

In [14]:
# Determine if there are any missing values in the school data.
doner_data_df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of       LastName  FirstName  Employer   City  State    Zip  Amount  FIELD8
0        False      False     False  False  False  False   False    True
1        False      False     False  False  False  False   False    True
2        False      False     False  False  False  False   False    True
3        False      False     False  False  False  False   False    True
4        False      False     False  False  False  False   False    True
...        ...        ...       ...    ...    ...    ...     ...     ...
1771     False      False     False  False  False  False   False    True
1772     False      False      True  False  False  False   False    True
1773     False      False      True  False  False  False   False    True
1774     False      False     False  False  False  False   False    True
1775     False      False     False  False  False  False   False    True

[1776 rows x 8 columns]>

In [15]:
# Determine data types for the school DataFrame.
donor_data_df.dtypes

LastName      object
FirstName     object
Employer      object
City          object
State         object
Zip           object
Amount       float64
FIELD8       float64
dtype: object

In [18]:
state_amount = donor_data_df.set_index(["State"])["Amount"]
state_amount

State
VA    500.0
NY    200.0
IL    500.0
NY    200.0
NH    100.0
      ...
PA    500.0
CA    250.0
NC    250.0
MD     35.0
MA     25.0
Name: Amount, Length: 1776, dtype: float64

In [24]:
# Calculate the average math scores.
averages_amount_by_state = donor_data_df.groupby(["State"]).mean()["Amount"]
averages_amount_by_state

State
AE     100.000000
AK     175.000000
AL     212.500000
AP     200.000000
AR     350.000000
AZ     206.000000
CA     685.234973
CO     851.250000
CT     825.714286
DC     647.115385
DE     190.000000
FL     709.358974
GA     842.307692
HI     195.454545
IA     600.000000
ID     341.666667
IL    1114.519231
IN     225.000000
KS     283.333333
KY     735.000000
LA     158.333333
MA     750.714286
MD     819.823529
ME     211.111111
MI     241.666667
MN     697.000000
MO     463.888889
MS    1208.333333
MT     200.000000
NC     440.625000
NE     183.333333
NH     368.750000
NJ     276.111111
NM     298.913043
NV     393.333333
NY     910.829146
OH     501.562500
OK     200.000000
OR     321.052632
PA     896.755556
QC     250.000000
RI     700.000000
SC     287.500000
TN     257.142857
TX     485.193182
UT     200.000000
VA     701.093465
VI     225.000000
VT     350.000000
WA     399.537037
WI     185.416667
WV     183.333333
WY     125.000000
Name: Amount, dtype: float64

In [25]:
# "Amount">"750.00".count()

TypeError: count() takes at least 1 argument (0 given)

In [29]:
amount_bins = [0, 749.99,750.00,751.00,1208.33]
pd.cut(averages_amount_by_state, amount_bins)

State
AE       (0.0, 749.99]
AK       (0.0, 749.99]
AL       (0.0, 749.99]
AP       (0.0, 749.99]
AR       (0.0, 749.99]
AZ       (0.0, 749.99]
CA       (0.0, 749.99]
CO    (751.0, 1208.33]
CT    (751.0, 1208.33]
DC       (0.0, 749.99]
DE       (0.0, 749.99]
FL       (0.0, 749.99]
GA    (751.0, 1208.33]
HI       (0.0, 749.99]
IA       (0.0, 749.99]
ID       (0.0, 749.99]
IL    (751.0, 1208.33]
IN       (0.0, 749.99]
KS       (0.0, 749.99]
KY       (0.0, 749.99]
LA       (0.0, 749.99]
MA      (750.0, 751.0]
MD    (751.0, 1208.33]
ME       (0.0, 749.99]
MI       (0.0, 749.99]
MN       (0.0, 749.99]
MO       (0.0, 749.99]
MS                 NaN
MT       (0.0, 749.99]
NC       (0.0, 749.99]
NE       (0.0, 749.99]
NH       (0.0, 749.99]
NJ       (0.0, 749.99]
NM       (0.0, 749.99]
NV       (0.0, 749.99]
NY    (751.0, 1208.33]
OH       (0.0, 749.99]
OK       (0.0, 749.99]
OR       (0.0, 749.99]
PA    (751.0, 1208.33]
QC       (0.0, 749.99]
RI       (0.0, 749.99]
SC       (0.0, 749.99]
TN       (0.0, 749.99]
TX       (0.0, 749.99]
UT       (0.0, 749.99]
VA       (0.0, 749.99]
VI       (0.0, 749.99]
VT       (0.0, 749.99]
WA       (0.0, 749.99]
WI       (0.0, 749.99]
WV       (0.0, 749.99]
WY       (0.0, 749.99]
Name: Amount, dtype: category
Categories (4, interval[float64]): [(0.0, 749.99] < (749.99, 750.0] < (750.0, 751.0] < (751.0, 1208.33]]

In [30]:
# Cut the per_school_capita into the spending ranges.
amount_bins = [0, 749.99,750.00,751.00,1208.33]
averages_amount_by_state.groupby(pd.cut(averages_amount_by_state, amount_bins)).count()

Amount
(0.0, 749.99]       44
(749.99, 750.0]      0
(750.0, 751.0]       1
(751.0, 1208.33]     7
Name: Amount, dtype: int64

In [31]:
students = ("Frank", "Mary", "Jasmine", "Ivana", "Ahmed")
students.append("Serena")
print(students)

AttributeError: 'tuple' object has no attribute 'append'

In [1]:
import requests
url = "https://api.spacexdata.com/v2/launchpads"