## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
#Challenge part 3  - create a travel itinerary map

In [2]:
#Challenge part 3
#Start here with Justin

# Import the dependencies.
import pandas as pd
import numpy as np
import gmaps
import gmaps.datasets
#Import API key 
from config import g_key

#Configure gmaps
gmaps.configure(api_key=g_key)

#Use the citipy module to determine city based on latitude and longitude.
#%pip install citipy
from citipy import citipy

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/hotel_df.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Wad Rawah,SD,76.37,overcast clouds,15.1603,33.1397,ود الترابي
1,4,Dawlatabad,AF,82.78,scattered clouds,36.4141,64.9053,WASIM ASGAR KHAN
2,7,Tuktoyaktuk,CA,77.00,clear sky,69.4541,-133.0374,End of The Road Ltd.
3,9,Celestun,MX,84.38,clear sky,20.8667,-90.4000,Posada Lilia
4,10,Sibolga,ID,76.06,broken clouds,1.7427,98.7792,Hotel Syariah CN Darussalam

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
vacation_df=pd.DataFrame(vacation_df)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Wad Rawah,SD,76.37,overcast clouds,15.1603,33.1397,ود الترابي
1,4,Dawlatabad,AF,82.78,scattered clouds,36.4141,64.9053,WASIM ASGAR KHAN
2,7,Tuktoyaktuk,CA,77.00,clear sky,69.4541,-133.0374,End of The Road Ltd.
3,9,Celestun,MX,84.38,clear sky,20.8667,-90.4000,Posada Lilia
4,10,Sibolga,ID,76.06,broken clouds,1.7427,98.7792,Hotel Syariah CN Darussalam

In [5]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
#vacation_start = vacation_df.loc[vacation_df["City"] = cities[0]  

vacation_start = vacation_df.loc[vacation_df['City'] == 'Mantua']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Mantua']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Capoterra']
vacation_stop2= vacation_df.loc[vacation_df['City'] == 'Pachino'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Ventimiglia']

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
43,132,Mantua,IT,79.84,clear sky,45.1667,10.7833,Hotel la Favorita

In [7]:
itinerary_df = vacation_df.loc[vacation_df["Country"] =="IT"]
itinerary_df.head(20)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
43,132,Mantua,IT,79.84,clear sky,45.1667,10.7833,Hotel la Favorita
70,220,Capoterra,IT,78.53,clear sky,39.1763,8.9718,Ariedo Bed And Breakfast
89,274,Pachino,IT,76.60,clear sky,36.7186,15.0907,Pietra Bianca B&B
178,510,Ventimiglia,IT,76.05,clear sky,43.7935,7.6026,Kaly

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0] , vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0] , vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0] , vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0] , vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0] , vacation_stop3['Lng'].to_numpy()[0]

stop3

(43.7935, 7.6026)

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

#Latitude-longitude pairs:
import gmaps
import gmaps.datasets

fig = gmaps.figure()
start2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(start2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,132,Mantua,IT,79.84,clear sky,45.1667,10.7833,Hotel la Favorita
1,220,Capoterra,IT,78.53,clear sky,39.1763,8.9718,Ariedo Bed And Breakfast
2,274,Pachino,IT,76.60,clear sky,36.7186,15.0907,Pietra Bianca B&B
3,510,Ventimiglia,IT,76.05,clear sky,43.7935,7.6026,Kaly
4,132,Mantua,IT,79.84,clear sky,45.1667,10.7833,Hotel la Favorita

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

itinerary_df = pd.DataFrame(itinerary_df)
itinerary_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,132,Mantua,IT,79.84,clear sky,45.1667,10.7833,Hotel la Favorita
1,220,Capoterra,IT,78.53,clear sky,39.1763,8.9718,Ariedo Bed And Breakfast
2,274,Pachino,IT,76.60,clear sky,36.7186,15.0907,Pietra Bianca B&B
3,510,Ventimiglia,IT,76.05,clear sky,43.7935,7.6026,Kaly
4,132,Mantua,IT,79.84,clear sky,45.1667,10.7833,Hotel la Favorita

In [12]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
center = (45.1667, 10.7833)
#center = (30.0, 31.0)
fig = gmaps.figure(center=center, zoom_level=4)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))