## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key
#Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bubaque,GW,11.2833,-15.8333,81.05,80,100,12.33,overcast clouds
1,1,Qasigiannguit,GL,68.8193,-51.1922,48.45,80,85,3.40,overcast clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.79,74,100,10.42,overcast clouds
3,3,Castro,BR,-24.7911,-50.0119,51.62,59,6,1.74,clear sky
4,4,Sortland,NO,68.6949,15.4162,51.37,95,100,11.03,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bubaque,GW,11.2833,-15.8333,81.05,80,100,12.33,overcast clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.79,74,100,10.42,overcast clouds
5,5,Victoria,HK,22.2855,114.1577,82.45,92,88,4.00,overcast clouds
6,6,Vaini,TO,-21.2000,-175.2000,82.56,69,20,9.22,few clouds
7,7,Salalah,OM,17.0151,54.0924,78.89,94,90,4.61,drizzle
8,8,Rikitea,PF,-23.1203,-134.9692,73.09,58,26,14.97,scattered clouds
12,12,Praia,CV,14.9215,-23.5087,81.14,78,0,3.44,clear sky
13,13,Hamilton,US,39.1834,-84.5333,82.89,61,20,1.99,few clouds
14,14,Touros,BR,-5.1989,-35.4608,76.10,80,7,15.39,clear sky
16,16,Georgetown,MY,5.4112,100.3354,82.89,86,20,1.01,few clouds

In [11]:
# 4a. Determine if there are any empty rows.
# 4b. Drop any empty rows and create a new DataFrame that doesn't have empty rows.
preferred_cities_df = preferred_cities_df.dropna(how = 'any')
preferred_cities_df.count()

City_ID                331
City                   331
Country                331
Lat                    331
Lng                    331
Max Temp               331
Humidity               331
Cloudiness             331
Wind Speed             331
Current Description    331
dtype: int64

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bubaque,GW,81.05,overcast clouds,11.2833,-15.8333,
2,Hithadhoo,MV,81.79,overcast clouds,-0.6000,73.0833,
5,Victoria,HK,82.45,overcast clouds,22.2855,114.1577,
6,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,
7,Salalah,OM,78.89,drizzle,17.0151,54.0924,
8,Rikitea,PF,73.09,scattered clouds,-23.1203,-134.9692,
12,Praia,CV,81.14,clear sky,14.9215,-23.5087,
13,Hamilton,US,82.89,few clouds,39.1834,-84.5333,
14,Touros,BR,76.10,clear sky,-5.1989,-35.4608,
16,Georgetown,MY,82.89,few clouds,5.4112,100.3354,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
        lat = row["Lat"]
        lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
        params["location"] = f"{lat},{lng}"
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
        hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop any empty rows and create a new DataFrame that doesn't have empty rows.
hotel_df = hotel_df.dropna(how = 'any')
hotel_df.count()

City                   331
Country                331
Max Temp               331
Current Description    331
Lat                    331
Lng                    331
Hotel Name             331
dtype: int64

In [15]:
# 8a. Create the output File (CSV)
# 8b. Export the City_Data into a csv
clean_hotel.to_csv("clean_hotel_df.csv", index_label="City_ID")

NameError: name 'clean_hotel' is not defined

In [16]:
clean_hotel = hotel_df.loc[hotel_df['Hotel Name'] != '']

In [17]:
clean_hotel.loc[clean_hotel['Hotel Name']=='']

Empty DataFrame
Columns: [City, Country, Max Temp, Current Description, Lat, Lng, Hotel Name]
Index: []

In [18]:
hotel_df = clean_hotel
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bubaque,GW,81.05,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
2,Hithadhoo,MV,81.79,overcast clouds,-0.6000,73.0833,Scoop Guest House
5,Victoria,HK,82.45,overcast clouds,22.2855,114.1577,Mini Hotel Central
6,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
7,Salalah,OM,78.89,drizzle,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
8,Rikitea,PF,73.09,scattered clouds,-23.1203,-134.9692,People ThankYou
12,Praia,CV,81.14,clear sky,14.9215,-23.5087,LT Aparthotel
13,Hamilton,US,82.89,few clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
14,Touros,BR,76.10,clear sky,-5.1989,-35.4608,INN NEW HORIZON
16,Georgetown,MY,82.89,few clouds,5.4112,100.3354,Cititel Penang

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 

max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
pwd