## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
#Challenge part 3  - create a travel itinerary map

In [13]:
#Challenge part 3
#Start here with Justin

# Import the dependencies.
import pandas as pd
import numpy as np
import gmaps

#Import API key 
from config import g_key

#Configure gmaps
gmaps.configure(api_key=g_key)

#Use the citipy module to determine city based on latitude and longitude.
#%pip install citipy
from citipy import citipy

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/hotel_df.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Wad Rawah,SD,76.37,overcast clouds,15.1603,33.1397,ود الترابي
1,4,Dawlatabad,AF,82.78,scattered clouds,36.4141,64.9053,WASIM ASGAR KHAN
2,7,Tuktoyaktuk,CA,77.00,clear sky,69.4541,-133.0374,End of The Road Ltd.
3,9,Celestun,MX,84.38,clear sky,20.8667,-90.4000,Posada Lilia
4,10,Sibolga,ID,76.06,broken clouds,1.7427,98.7792,Hotel Syariah CN Darussalam

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
vacation_df=pd.DataFrame(vacation_df)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Wad Rawah,SD,76.37,overcast clouds,15.1603,33.1397,ود الترابي
1,4,Dawlatabad,AF,82.78,scattered clouds,36.4141,64.9053,WASIM ASGAR KHAN
2,7,Tuktoyaktuk,CA,77.00,clear sky,69.4541,-133.0374,End of The Road Ltd.
3,9,Celestun,MX,84.38,clear sky,20.8667,-90.4000,Posada Lilia
4,10,Sibolga,ID,76.06,broken clouds,1.7427,98.7792,Hotel Syariah CN Darussalam

In [5]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
#vacation_start = vacation_df.loc[vacation_df["City"] = cities[0]  

vacation_start = vacation_df.loc[vacation_df['Hotel Name'] == "Lidera", :]
vacation_end = vacation_df.loc[vacation_df['Hotel Name'] == "Lidera", :]
vacation_stop1 = vacation_df.loc[vacation_df['Hotel Name'] == "Casa Amarela", :]
vacation_stop2= vacation_df.loc[vacation_df['Hotel Name'] == "Vivant Residence", :] 
vacation_stop3 = vacation_df.loc[vacation_df['Hotel Name'] == "Sea Lounge! Bar, Club & Restaurant", :]

vacation_start

Empty DataFrame
Columns: [City_ID, City, Country, Max Temp, Current Description, Lat, Lng, Hotel Name]
Index: []

In [7]:
itinerary_df = vacation_df.loc[vacation_df["Country"] =="BR"]
itinerary_df.head(20)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
42,126,Maues,BR,77.13,scattered clouds,-3.3836,-57.7186,Hotel Miramar
95,287,Cabedelo,BR,75.87,few clouds,-6.9811,-34.8339,Hotel Pigalle
103,300,Natal,BR,77.65,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
106,314,Touros,BR,77.90,clear sky,-5.1989,-35.4608,INN NEW HORIZON
126,370,Ariquemes,BR,77.65,scattered clouds,-9.9133,-63.0408,Hotel Sol Nascente - Ariquemes - RO
139,416,Oriximina,BR,81.61,broken clouds,-1.7656,-55.8661,Pousada Tia Amélia
140,417,Acarau,BR,79.56,clear sky,-2.8856,-40.1200,castelo pizzaria
152,444,Itarema,BR,79.41,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
164,483,Codajas,BR,79.84,overcast clouds,-3.8367,-62.0569,Hotel Tucunaré
196,549,Itaituba,BR,80.06,few clouds,-4.2761,-55.9836,Hotel Campos
200,559,Aripuana,BR,77.85,clear sky,-9.1667,-60.6333,NaN
213,585,Trairi,BR,79.02,clear sky,-3.2778,-39.2689,janelas do mar
228,621,Monte Alegre,BR,79.75,broken clouds,-2.0078,-54.0692,Hotel Shekinah
231,626,Tucuma,BR,76.78,few clouds,-0.1833,-50.0500,NaN
236,637,Canutama,BR,79.83,clear sky,-6.5339,-64.3831,Hotel Jhennifer

In [26]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0] , vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0] , vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0] , vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0] , vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0] , vacation_stop3['Lng'].to_numpy()[0]

stop3

IndexError: index 0 is out of bounds for axis 0 with size 0

In [20]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

#Latitude-longitude pairs:
import gmaps
import gmaps.datasets

fig = gmaps.figure()
start2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(start2end_via_stops)
fig

NameError: name 'start' is not defined

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,444,Itarema,BR,79.41,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

itinerary_df = pd.DataFrame(itinerary_df)
itinerary_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,444,Itarema,BR,79.41,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"

In [23]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
center = (-14.2350, -51.9253)
#center = (30.0, 31.0)
fig = gmaps.figure(center=center, zoom_level=4)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))